<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- MultipeerConnectivity: list the Bonjour service types MPC uses internally -->
	<key>NSBonjourServices</key>
	<array>
		<string>_hermit-pair._tcp</string>
		<string>_hermit-pair._udp</string>
		<string>_hermit._tcp</string>
	</array>
</dict>
</plist>
